<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sh4re="http://www.sh4rewith.me">
<head>
<meta charset="utf-8" />
<title th:text="#{app.title}">Sh4reWith.me</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Le styles -->
<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

.centered {
	text-align: center;
}
</style>
<link href="../../css/bootstrap.css" rel="stylesheet" th:href="@{./css/bootstrap.css}" />
<link href="../../css/sh4rewithme/header.css" rel="stylesheet" th:href="@{./css/sh4rewithme/header.css}" />
<link href="../../css/sh4rewithme/body.css" rel="stylesheet" th:href="@{./css/sh4rewithme/body.css}" />
<link href="../../css/sh4rewithme/form.css" rel="stylesheet" th:href="@{./css/sh4rewithme/form.css}" />
<link href="../../css/font-awesome.css" rel="stylesheet" th:href="@{./css/font-awesome.css}" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{./images/favicon.ico}" />
<link rel="apple-touch-icon" href="../../images/apple-touch-icon.png" th:href="@{./images/apple-touch-icon.png}" />
<link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png" th:href="@{./images/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png" th:href="@{./images/apple-touch-icon-114x114.png}" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<img src="../../images/Sh4reWithMe.png" th:src="@{./images/Sh4reWithMe.png}" class="header-icon pull-left" />
				<a class="brand" href="./index.html" th:href="@{./}" th:text="#{app.title}">Sh4reWith.me</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="./userRegistrationForm.html" th:href="@{./login}" th:text="#{login.menu.title}">Login</a></li>
						<li class="active"><a href="./userRegistrationForm.html" th:href="@{./user-registration}" th:text="#{userRegistration.menu.title}">User
								Registration</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-unit main-hero">
		<form class="form-horizontal" method="post" enctype="multipart/form-data" action="#" th:action="@{./user-registration}"
			th:object="${userRegistration}">
			<div class="span6">
				<h2 th:text="#{userRegistration.form.legend}">Registration</h2>
				<div class="alert alert-error" th:if="${#fields.hasErrors('*')}" th:text="#{userRegistration.form.error.text}"></div>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="id" th:text="#{userRegistration.form.label.id}">User id</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="text" name="id" id="id" class="xxxlarge" th:class="${#fields.hasErrors('id')}?'field-error'" th:field="*{id}"
									placeholder="userid" />
							</div>
						</div>
						<label class="control-label" for="email" th:text="#{userRegistration.form.label.email}">Email</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="email" name="email" id="email" class="xxxlarge" th:class="${#fields.hasErrors('email')}?'field-error'" th:field="*{email}"
									placeholder="user@email.com" />
							</div>
						</div>
						<label class="control-label" for="firstname" th:text="#{userRegistration.form.label.firstname}">First name</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="text" name="firstname" id="firstname" class="xxxlarge" th:class="${#fields.hasErrors('firstname')}?'field-error'"
									th:field="*{firstname}" placeholder="John" />
							</div>
						</div>
						<label class="control-label" for="lastname" th:text="#{userRegistration.form.label.lastname}">Last name</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="text" name="lastname" id="lastname" class="xxxlarge" th:class="${#fields.hasErrors('lastname')}?'field-error'"
									th:field="*{lastname}" placeholder="Doe" />
							</div>
						</div>
						<label class="control-label" for="password" th:text="#{userRegistration.form.label.password}">Choose a password</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="password" name="password" id="password" class="xxxlarge" th:class="${#fields.hasErrors('password')}?'field-error'"
									th:field="*{password}" placeholder="Password" />
							</div>
						</div>
						<label class="control-label" for="confirmedPassword" th:text="#{userRegistration.form.label.confirmedPassword}">Confirm your password</label>
						<div class="controls">
							<div class="input-prepend">
								<input type="password" name="confirmedPassword" id="confirmedPassword" class="xxxlarge"
									th:class="${#fields.hasErrors('confirmedPassword')}?'field-error'" th:field="*{confirmedPassword}" placeholder="Password Confirmation" />
							</div>
						</div>
						<div class="controls">
							<button type="submit" class="btn btn-primary centered" th:text="#{userRegistration.form.submit}">Register</button>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="span6 field-error" th:if="${#fields.hasErrors('*')}">
				<ul>
					<li th:each="err_code : ${global_errors}" th:text="#{__${err_code.get(0)}__}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('id')}" th:text="${err}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('email')}" th:text="${err}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('firstname')}" th:text="${err}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('lastname')}" th:text="${err}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('password')}" th:text="${err}">Input is incorrect</li>
					<li th:each="err : ${#fields.errors('confirmedPassword')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
		</form>
	</div>
	<!-- /container -->
	<!-- Le javascript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../js/jquery.js" th:src="@{./js/jquery.js}"></script>
	<script src="../../js/bootstrap-transition.js" th:src="@{./js/bootstrap-transition.js}"></script>
	<script src="../../js/bootstrap-alert.js" th:src="@{./js/bootstrap-alert.js}"></script>
	<script src="../../js/bootstrap-modal.js" th:src="@{./js/bootstrap-modal.js}"></script>
	<script src="../../js/bootstrap-dropdown.js" th:src="@{./js/bootstrap-dropdown.js}"></script>
	<script src="../../js/bootstrap-scrollspy.js" th:src="@{./js/bootstrap-scrollspy.js}"></script>
	<script src="../../js/bootstrap-tab.js" th:src="@{./js/bootstrap-tab.js}"></script>
	<script src="../../js/bootstrap-tooltip.js" th:src="@{./js/bootstrap-tooltip.js}"></script>
	<script src="../../js/bootstrap-popover.js" th:src="@{./js/bootstrap-popover.js}"></script>
	<script src="../../js/bootstrap-button.js" th:src="@{./js/bootstrap-button.js}"></script>
	<script src="../../js/bootstrap-collapse.js" th:src="@{./js/bootstrap-collapse.js}"></script>
	<script src="../../js/bootstrap-carousel.js" th:src="@{./js/bootstrap-carousel.js}"></script>
	<script src="../../js/bootstrap-typeahead.js" th:src="@{./js/bootstrap-typeahead.js}"></script>
</body>
</html>
